.cabecalho-bg {
  background-color: #122ab2;
  height: 40px;
}
.cabecalho {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  margin: 0 auto;
  max-width: 960px;
  justify-content: space-between;
  align-items: center;
}
.cabecalho p {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}
.cabecalho a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}
