.qualidades {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 60px auto;
}
.qualidades-info {
  flex: 1 1 300px;
  margin: 20px 10px;
}
.qualidades-info h2 {
  color: #a4a4a4;
  font-size: 2.25rem;
}
.qualidades-info p {
  font-size: 1.25rem;
  color: #7c7c7c;
  margin-top: 10px;
}
.qualidades-info h2::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 30px;
  background-color: yellow;
  margin-right: 20px;
}
.qualidades-info:nth-of-type(3n + 1) h2::before {
  background: #ae81ff;
}
.qualidades-info:nth-of-type(3n + 2) h2::before {
  background: #f9265e;
}
.qualidades-info:nth-of-type(3n + 3) h2::before {
  background: #66d9eb;
}
